<h1>Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <th>Variable</th>
                <th>Pipe</th>
                <th>Variable</th>
            </thead>
            <tbody>
                <!-- Pipe personalizado -->
                <!-- Uppercase -->
                <tr>
                    <td> {{ nombreMio }} </td>
                    <td> capitalizado </td>
                    <td>{{ nombreMio | capitalizado:false }} </td>
                </tr>


                <!-- Para usar los pipes basicos
                de angular no es necesario
                importar nada -->
                <!-- Uppercase -->
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Uppercase </td>
                    <td>{{ nombre | uppercase }} </td>
                </tr>

                <!-- Lowercase -->
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Lowercase </td>
                    <td>{{ nombre | lowercase }} </td>
                </tr>

                <!-- slice -->
                <tr>
                    <td> {{ nombre }} </td>
                    <td> slice:1:3 </td>
                    <td>{{ nombre | slice:1:3 }} </td>
                </tr>

                <tr>
                    <td> {{ arreglo }} </td>
                    <td> slice:1:3 </td>
                    <td>{{ arreglo | slice:1:3 }} </td>
                </tr>

                <!-- La parte entara muestra 3 valores y
                la aprte decimal no muestra ningun valor -->
                <!-- decimal -->
                <tr>
                    <td> {{ PI }} </td>
                    <td> decimal (number:'3.0-0') </td>
                    <td> {{ PI | number:'3.0-0' }} </td>
                </tr>

                <!-- La prte entera conserva todos su valores
                y solo se mostrara 2 decimales -->
                <tr>
                    <td> {{ PI }} </td>
                    <td> decimal (number:'.0-2') </td>
                    <td> {{ PI | number:'.0-2' }} </td>
                </tr>

                <!-- percent -->
                <tr>
                    <td> {{ porcentaje }} </td>
                    <td>  percent </td>
                    <td> {{ porcentaje |  percent }} </td>
                </tr>

                <tr>
                    <td> {{ porcentaje }} </td>
                    <td>  percent:'2.2-2'  </td>
                    <td> {{ porcentaje |  percent:'2.2-2' }} </td>
                </tr>

                <!-- Currency (moneda) -->
                <tr>
                    <td> {{ salario }} </td>
                    <td>  currency  </td>
                    <td> {{ salario |  currency }} </td>
                </tr>

                <tr>
                    <td> {{ salario }} </td>
                    <td>  currency:'CAD':'symbol':'.0-0'   </td>
                    <td> {{ salario |  currency:'CAD':'symbol':'.0-0' }} </td>
                </tr>

                <!-- Async -->
                <tr>
                    <td> {{ valorPromesa }} </td>
                    <td>  async  </td>
                    <td> {{ valorPromesa | async }} </td>
                </tr>

                <!-- Date -->
                <tr>
                    <td> {{ fecha }} </td>
                    <td>  date  </td>
                    <td> {{ fecha | date }} </td>
                </tr>

                <tr>
                    <td> {{ fecha }} </td>
                    <td>  date:'fullDate'  </td>
                    <td> {{ fecha | date:'fullDate' }} </td>
                </tr>

                <tr>
                    <!-- Esto es una fecha manejada en 
                    portugues -->
                    <td>
                        <button (click)="idioma='es'" class="btn btn-primary mr-1">Español</button>
                        <button (click)="idioma='en'" class="btn btn-secondary mr-1">Inglés</button>
                        <button (click)="idioma='pt'" class="btn btn-success">Portugués</button>
                    </td>
                    <td> {{ fecha }} </td>
                    <td>  date:'fullDate':'':'{{idioma}}'  </td>
                    <td> {{ fecha | date:'fullDate':'':idioma }} </td>
                </tr>

                <!-- Pipe tarea ocultar un password, esto es
                solo un ejercicio, asi no se haria en un 
                entorno real -->
                <tr>
                    <td> {{ nombre }} </td>
                    <td> 
                        contraseña: {{ activarContrasena }} <br>
                        <button (click)="activarContrasena = ! activarContrasena" class="btn btn-outline-primary">Activar/Desactivar</button> 
                    </td>
                    <td> 
                        <span>{{ nombre | contrasena:activarContrasena }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo | slice:5:8">{{ item }}</li>
        </ul>

        <h4>Json</h4>
        <hr>
        <div class="row">
            <div class="col">
                <pre>
                    {{ heroe | json }}
                </pre>
            </div>
        </div>

        <h4>DOM seguro</h4>
        <hr>
        <iframe width="560" 
                height="315" 
                [src]="videoUrl | domseguro" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    </div>
</div>